<!-- <app-header></app-header>

<app-game-play></app-game-play> -->

<div class="container-fluid">
    <div class="row no-gutters header-container">
        <div class="col">
            <app-header (routeButtonClicked)="onRouteButtonClicked($event)"></app-header>
        </div>
    </div>
    <div class="row no-gutters content-container">
        <div class="col">
            <router-outlet></router-outlet>
            <!-- <app-game-play [showPanel]="showPanel"></app-game-play> -->
        </div>
    </div>
</div>