.navbar {
    position: fixed;
    min-height: 10vh;
    width: 100%;
    z-index: 2;
}

path:hover {
    fill: rgb(175, 88, 88);
}

path:active {
    fill: white;
}

.navbar-nav a {
    color: rgb(233, 178, 178);
}

.navbar-nav a:hover {
    color: rgb(175, 88, 88);
}

.navbar-nav a:active {
    color: white;
}

.nav-item {
    width: 100px;
    display: flex;
    justify-content: center;
}

.panel-alternate {
    display: flex;
    margin-left: 20px;
}

.nav-item2 {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boggle-btn {
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1 1 5 rgba(0, 0, 0, 0.521);
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 1px 5px rgba(78, 78, 78, 0.671);
}

.boggle-btn:focus {
    outline: none;
}

.scrabble-tiles-boggle-btn {
    color: rgb(82, 0, 0);;
    background: linear-gradient(45deg, rgb(236, 151, 117), rgb(240, 238, 114));
}

.paper-print-boggle-btn {
    color: rgb(100, 100, 100);
    background: linear-gradient(90deg, rgb(255, 219, 219), rgb(246, 255, 224), rgb(208, 217, 253));
}

.pebble-glass-boggle-btn {
    color: rgb(97, 1, 17);
    background: linear-gradient(-45deg, rgb(247, 170, 139), rgb(202, 255, 166));
}

.water-bubbles-boggle-btn {
    color: rgb(0, 94, 148);
    background: linear-gradient(45deg, rgb(34, 245, 122), rgb(34, 231, 245));
}
